.view {
    display: none;
}

input[type='text'] {
    width: 40%;
}

.btn-primary {
    background-color: #438ac7;
}

.btn {
    border-radius: 10px;
}

.nav>li>a:hover {
    background-color: #ddf;
    border-color: #ddf;
}
